%p= link_to "Задать вопрос", new_question_path
.questions
  - @questions.each do |q|
    %h5
      = link_to q.title, q
      .right.mute= q.created_at.strftime("%d.%m.%Y")
    %hr

= subscribe_to "/questions"