<% if @question.errors.present? %>
  <% s = '' %>
  <% @question.errors.full_messages.each do |m| %>
    <% s << '<li>' << m << '</li>' %>
  <% end %>
    $('.question-errors').html('<div class="error-explanation"><ul><%= s.html_safe %></ul></div>')
<% else %>
  $('.question').html('<%= j render 'question' %>')
  $('.edit-question-link').on('click', function(e) {
    $('.edit_question').show();
    $(this).hide();
    e.preventDefault();
  });
<% end %>