= form_for [target, target.comments.build], remote: true, data: { parent_name: target.class.name.downcase.pluralize, type: "json" } do |f|
  %fieldset
    .comment-errors
    = f.label :body
    = f.text_area :body
    = f.submit "Сохранить комментарий"