-# %form{action: @url, method: 'get'}
-#   %label{for: 'user_email'}
-#     Электронная почта
-#   %input{id: 'user_email', name: 'user[email]', type: 'email'}
-#   %input{name: 'commit', type: 'submit', value: 'Зарегистрироваться'}