<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |m| %>
    $('.answer-errors').html('<div class="error-explanation"><ul><li><%= j m %></li></ul></div>');
  <% end %>
<% end %>

