<div class="comment-body">{{ body }}</div>
<div class="comment-author">Автор: {{ user_name }}</div>
<a class="edit-comment-link" data-action="edit" data-parent-id="{{ parent_id }}" data-parent-name="questions" data-target-id="{{ id }}" href="" target="_self">редактировать</a>