<form class="edit_comment" action="/comments/{{ comment_id }}" data-remote="true" data-type="json" id="edit_comment" method="post" data-parent-name: "{{ parent_name }}">
  <div style="display: none">
    <input name="_method" type="hidden" value="patch">
  </div>
  <fieldset>
    <div class="comment-errors"></div>
    <label for="comment_body">Комментарий</label>
    <textarea id="comment_body" name="comment[body]">{{ body }}</textarea>
    <input name="commit" type="submit" value="Сохранить комментарий">
  </fieldset>
</form>