// Colors
$gray: #dddddd;
$green-blue: #43bac9;

div.container {
  @include outer-container;
  word-wrap: break-word;
}

.mute { color: #777; }

.right { text-align: right; float: right; }

.edit_answer, .edit_question, .new_comment { display: none; }

hr { margin: .5em 0; }

.question-votes, .answer-votes {

  .votes, .vote-form { display: inline; }
  .votes { 
    color: $green-blue;
    font-size: 1.3em;
  }
  .vote-form {
    font-size: 1em;
    a[data-method="patch"] { color: #BACDE8; }
  }
}

.answer {
  border: 1px solid #dddddd;
  padding: .7em;
  min-height: 6em;
  margin-bottom: .5em;

  .answer-body { font-size: 1.1em; }
}


.comment {
  hr { 
    margin: .3em 0; 
  }

  .comment-body, .comment-author { 
    font-size: 0.9em;
  }

  padding-left: 9em;
  text-align: right;
} 

.comments {
  margin-bottom: 1em;
}

.question {
  border-bottom: .4em solid $gray;
  margin-bottom: 2em;
}

.actions { text-align: right; }

header, .question-author { 
  text-align: right;
  margin-bottom: .5em;
}

.question-author {
  float: right;
}

.tag {
  border: 2px solid #43bac9;
  padding: .1em .5em .3em .5em;
}

.notice {
  border: 2px solid #43bac9;
  padding: 7px;
  margin-bottom: 1em;
}

.float-left { float: left }
.float-right { float: right }

.search {
  label { display: inline; }
  margin-bottom: 1em;
}

.add-comment {
  text-align: right;
  @include outer-container;
}

.border {
  border: 1px solid #dddddd;
  padding: .7em;
  min-height: 6em;
  margin-bottom: .5em;
}

.error-explanation {
  border: 2px solid #c95243;
  padding: 7px;
  margin-bottom: 20px;
}

.error-explanation h4 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: .8em;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #b64c3e;
  color: #fff;
}

.error-explanation ul li {
  font-size: 1em;
}