
div.container {
  @include outer-container;
}

.mute { color: #777; }

.right { text-align: right; float: right; }

.edit_answer, .edit_question { display: none; }


.heading { margin-bottom: .5em }

.error-explanation {
  border: 2px solid #c95243;
  padding: 7px;
  margin-bottom: 20px;
}

.error-explanation h4 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: .8em;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #b64c3e;
  color: #fff;
}

.error-explanation ul li {
  font-size: 1em;
}